<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/css/inscire.css">
    <title>Inscription</title>
</head>
<body>
    <div id="login-box">
        <div class="left">
          <h1>S'inscrire</h1>
      
          <input type="text" name="nom" placeholder="nom" />
          <input type="text" name="email" placeholder="email" />
          <input type="password" name="mot de passe " placeholder="mot de passe" />
          <input type="password" name="password2" placeholder="confirme le mot de passe" />
      
          <input type="submit" name="signup_submit" value="M'inscrire" />
        </div>
      
        <div class="right">
          <span class="loginwith">S'inscrire avec <br />Réseaux Sociux</span>
      
         <a href="https://www.facebook.com/">
         <button class="social-signin facebook">s'inscrire avec facebook</button> </a> 

         <a href="https://twitter.com/">
          <button class="social-signin twitter">s'inscrire avec Twitter</button> </a>
         
          <a href="https://support.google.com/mail/answer/8494?hl=fr&co=GENIE.Platform%3DDesktop"> 
            <button class="social-signin google">s'inscrire avec  Google+</button> </a>
        </div>
        <div class="or">OU</div>
      </div>
</body>
</html>