<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>
    <link rel="stylesheet" href="/public/assets/css/product.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/52cd6924e7.js" crossorigin="anonymous"></script>
    <!-- siapri -->
    <script src="https://kit.fontawesome.com/ae331aba90.js" crossorigin="anonymous"></script>
</head>
<body>
 
  <!-- header -->
  <header>
    <figure  class="navigation">
      <!-- <a href="../view/produit.html">Produit</a> -->
      <img src="../public/assets/img/cereal-logo.png" alt="Logo de la Ferme">
      <a href="../index.html"><i class="fa-solid fa-house"></i></a>
      <a href="/view/login.html"><i class="fa-solid fa-right-to-bracket"></i></a>
      <!-- <a href="../view/panier.html"><i class="fa-solid fa-cart-shopping"></i></a> -->
    </figure>
  </header>

     
  

   <!-- footer -->

<figure  class="footer-basic">
    <footer>
        <div class="social">
          <a href="https://www.instagram.com/"  target="_blank"><img src="../public/assets/img/instagram.png" alt="" width="55%">
          <i class="icon ion-social-instagram"></i></a>
  
          <a href="https://www.facebook.com/" target="_blank"><img src="../public/assets/img/facebook.png" alt="" width="55%">
            <i class="icon ion-social-snapchat"></i> </a>
            
            <a href="https://twitter.com/" target="_blank"><img src="../public/assets/img/twitter.png" alt="" width="55%">
              <i class="icon ion-social-twitter"></i></a>
  
              <a href="https://www.youtube.com/" target="_blank"><img src="../public/assets/img/youtube.png" alt="" width="55%" >
                <i class="icon ion-social-facebook"></i>
              </a></div>
  
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Produits</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2024</p>
    </footer>
</body>
</html>
