<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>
    <link rel="stylesheet" href="/public/assets/css/product.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/52cd6924e7.js" crossorigin="anonymous"></script>
    <!-- siapri -->
    <script src="https://kit.fontawesome.com/ae331aba90.js" crossorigin="anonymous"></script>
</head>
<body>

      <!-- header -->
      <header>
        <figure class="navigation">
          <img src="../public/assets/img/cereal-logo.png" alt="Logo de la Ferme">
          <a href="../index.html"><i class="fa-solid fa-house"></i></a>
          <a href="../view/login.html"><i class="fa-solid fa-right-to-bracket"></i></a>
          <a href="../view/panier.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </figure>
      </header>

      <article class="content">
        <img src="../assets/img/fromage.jpeg" alt="produits">
      </article>

      <figure class="product">
        <!-- <h1>products</h1> -->
      </figure>

      <section class="container">
        <figure class="container-product">

            <figure class="container-image">
                <img src="../public/assets/img/brie.jpeg" alt="fromage bria" class="img-reponsive">  <br>
            </figure>
            <article  class="container-text">
                <figure class="category">
                    <span>fromage Brie</span>
                </figure>
                <figure class="container-description">
                    <!-- <p>main with</p> -->
                </figure>
                <figure class="price">
                    <span>12£</span>
                </figure>
            </article>
        </figure>

            <figure class="container-product">
                <figure class="container-image">
                    <img src="../public/assets/img/buchette-de-chevre-long-180gr.jpg" alt="fromage bria" class="img-reponsive">
                </figure>
                <article  class="container-text">
                    <figure class="category">
                        <span>buchette de chèvre</span>
                    </figure>
                    <figure class="container-description">
                        <!-- <p>main with</p> -->
                    </figure>
                    <figure class="price">
                        <span>15£</span>
                    </figure>
                </article>
            </figure>
           
            <figure class="container-product">
                <figure class="container-image">
                    <img src="../public/assets/img/camenber.jpg" alt="fromage bria" class="img-reponsive">
                </figure>
                <article  class="container-text">
                    <figure class="category">
                        <span>camember</span>
                    </figure>
                    <figure class="container-description">
                        <!-- <p>main with</p> -->
                    </figure>
                    <figure class="price">
                        <span>17£</span>
                    </figure>
                </article>   
            </figure>
                    <figure class="container-product">
                        <figure class="container-image">
                            <img src="../public/assets/img/fromage-au-lait-de-chevre.jpeg" alt="fromage bria" class="img-reponsive">
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>fromage Brie</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>16£</span>
                            </figure>
                        </article>    
                    </figure>
                </section>
     
                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/cote-d-agneau.jpg" alt="fromage bria" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Cote d'agneau</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>20£</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/Chicken-Whole-3.jpg" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Poulet Frais</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>10£</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/beef.png" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Boeuf</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>17£</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/cote-de-porc.png" alt="fromage bria" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Cote de Porc</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>16£</span>
                                        </figure>
                                    </article>    
                                </figure>
                </section>


                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/cote-d-agneau.jpg" alt="fromage bria" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Cote d'agneau</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>20£</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/Chicken-Whole-3.jpg" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Poulet Frais</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>10£</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/beef.png" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Boeuf</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>17£</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/cote-de-porc.png" alt="fromage bria" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Cote de Porc</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>16£</span>
                                        </figure>
                                    </article>    
                                </figure>
                </section>

                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/lait-lactel-vitamine-d-demi-ecreme-1l-lot-de-30.jpg" alt="fromage bria" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span></span>Lait
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>2£</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/lait fermenté.webp" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Lait fermenté</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>10£</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/bouteille-lait-2-bio.jpg" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Lait bio</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>17£</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/OIP.jpeg" alt="fromage bria" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Lait concenté</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>16£</span>
                                        </figure>
                                    </article>    
                                </figure>
                </section>


                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/cote-d-agneau.jpg" alt="fromage bria" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Cote d'agneau</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>20£</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/miel.png" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>miel</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>10£</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/Bonbon-Miel-Fleurs.png" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Bonbons de miel</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>17£</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/honey-produit.jpg" alt="fromage bria" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Miel bio</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>16£</span>
                                        </figure>
                                    </article>    
                                </figure>
                </section>


                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/tomatoes-1238255_1280.jpg" alt="fromage bria" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Tomates Frais</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>20£</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/broccoli-1238250_1280.jpg" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Bricolie</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>10£</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/carrots-2667337_1280.webp" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Carotte Bio</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>17£</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/mushrooms-7191815_1280.jpg" alt="fromage bria" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Champignons</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>16£</span>
                                        </figure>
                                    </article>    
                                </figure>
                </section>
   <!-- footer -->

<figure      class="footer-basic">
    <footer>
        <div class="social">
          <a href="https://www.instagram.com/"  target="_blank"><img src="../public/assets/img/instagram.png" alt="" width="55%">
          <i class="icon ion-social-instagram"></i></a>
  
          <a href="https://www.facebook.com/" target="_blank"><img src="../public/assets/img/facebook.png" alt="" width="55%">
            <i class="icon ion-social-snapchat"></i> </a>
            
            <a href="https://twitter.com/" target="_blank"><img src="../public/assets/img/twitter.png" alt="" width="55%">
              <i class="icon ion-social-twitter"></i></a>
  
              <a href="https://www.youtube.com/" target="_blank"><img src="../public/assets/img/youtube.png" alt="" width="55%" >
                <i class="icon ion-social-facebook"></i>
              </a></div>
  
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Produits</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2024</p>
    </footer>
</body>
</html>
