<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produit</title>
    <link rel="stylesheet" href="/public/assets/css/product.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <script src="https://kit.fontawesome.com/52cd6924e7.js" crossorigin="anonymous"></script>
    <!-- siapri -->
    <script src="https://kit.fontawesome.com/ae331aba90.js" crossorigin="anonymous"></script>
</head>
<body>
 
  <!-- header -->
  <header>
    <figure  class="navigation">
      <!-- <a href="../view/produit.html">Produit</a> -->
      <img src="../public/assets/img/cereal-logo.png" alt="Logo de la Ferme">
      <a href="../index.html"><i class="fa-solid fa-house"></i></a>
      <a href="/view/login.html"><i class="fa-solid fa-right-to-bracket"></i></a>
      <!-- <a href="../view/panier.html"><i class="fa-solid fa-cart-shopping"></i></a> -->
    </figure>
  </header>

      <!-- <article class="content">
        <img src="../public/assets/img/produit-laitier.jpg" alt="produits">
      </article> -->


      <section class="container">
        <figure class="container-product">

            <figure class="container-image">
                <img src="../public/assets/img/brie.jpeg" alt="fromage bria" class="img-reponsive">  <br>
            </figure>
            <article  class="container-text">
                <figure class="category">
                    <span>Fromage Brie</span>
                </figure>
                <figure class="container-description">
                    <!-- <p>main with</p> -->
                </figure>
                <figure class="price">
                    <span>6,59€</span>
                </figure>
            </article>
        </figure>

            <figure class="container-product">
                <figure class="container-image">
                    <img src="../public/assets/img/buchette-de-chevre-long-180gr.jpg" alt="Buchette de chèvre" class="img-reponsive">
                </figure>
                <article  class="container-text">
                    <figure class="category">
                        <span>Buchette de chèvre</span>
                    </figure>
                    <figure class="container-description">
                        <!-- <p>main with</p> -->
                    </figure>
                    <figure class="price">
                        <span>2,59€</span>
                    </figure>
                </article>
            </figure>
           
            <figure class="container-product">
                <figure class="container-image">
                    <img src="../public/assets/img/camenber.jpg" alt="Camembert" class="img-reponsive">
                </figure>
                <article  class="container-text">
                    <figure class="category">
                        <span>Camembert</span>
                    </figure>
                    <figure class="container-description">
                        <!-- <p>main with</p> -->
                    </figure>
                    <figure class="price">
                        <span>2,30€</span>
                    </figure>
                </article>  
            </figure>
                    <figure class="container-product">
                        <figure class="container-image">
                            <img src="../public/assets/img/fromage-au-lait-de-chevre.jpeg" alt="fromage de brebis" class="img-reponsive">
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Fromage de brebis</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>4,50€</span>
                            </figure>
                        </article>    
                    </figure>
                </section>

                <!-- container 2 -->
     
                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/cote-d-agneau.jpg" alt="cote-d-agneau" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Côte d'agneau</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>18,90€ au kilo</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/Chicken-Whole-3.jpg" alt="Poulet Frais" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Poulet Frais</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>11,90€ au kilo</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/beef.png" alt="cote-de- Boeuf" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Côte de Boeuf</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>25,90€ au kilo</span>
                                </figure>
                            </article>    
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/cote-de-porc.png" alt="cote de Porc" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Côte de Porc</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>7,90€ au kilo</span>
                                        </figure>
                                    </article>     
                                </figure>
                </section>


            <!-- container 3-->
                             
                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/lait-lactel-vitamine-d-demi-ecreme-1l-lot-de-30.jpg" alt="fromage bria" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Lait</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>1,08€/L</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/lait fermenté.webp" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Lait fermenté</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>1,55€/L</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/bouteille-lait-2-bio.jpg" alt="fromage bria" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Lait bio</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>2,70/L</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/OIP.jpeg" alt="fromage bria" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Lait concenté sucré</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>1,90€</span>
                                        </figure>
                                    </article>
                                </figure>
                </section>

<!-- container 3 -->
                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/confiture.jpg" alt="l'image représente une pot de confiture" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Confiture tout fruit</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>2,50€ le pot</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/miel.png" alt="cet image représente un pot de  miel" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Miel</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>3,90€ le pot</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/Bonbon-Miel-Fleurs.png" alt="cet images représente des Bonbon-Miel-Fleurs" class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Bonbons au miel</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>3,40€ le pot</span>
                                </figure>
                            </article>  
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/honey-produit.jpg" alt="un pot de miel Bio" class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Miel bio</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>5€ le pot</span>
                                        </figure>
                                    </article>  
                                </figure>
                </section>
<!-- container 3 -->

                <section class="container">
                    <figure class="container-product">

                        <figure class="container-image">
                            <img src="../public/assets/img/tomatoes-1238255_1280.jpg" alt="une grappe de Tomates" class="img-reponsive">  <br>
                        </figure>
                        <article  class="container-text">
                            <figure class="category">
                                <span>Tomates Fraiches</span>
                            </figure>
                            <figure class="container-description">
                                <!-- <p>main with</p> -->
                            </figure>
                            <figure class="price">
                                <span>1,60€ au kilo</span>
                            </figure>
                        </article>
                    </figure>
            
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/broccoli-1238250_1280.jpg" alt="un brocoli " class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Bricoli</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>2,20€ la pièce</span>
                                </figure>
                            </article>
                        </figure>
                       
                        <figure class="container-product">
                            <figure class="container-image">
                                <img src="../public/assets/img/carrots-2667337_1280.webp" alt="carotte " class="img-reponsive">
                            </figure>
                            <article  class="container-text">
                                <figure class="category">
                                    <span>Carottes Bio</span>
                                </figure>
                                <figure class="container-description">
                                    <!-- <p>main with</p> -->
                                </figure>
                                <figure class="price">
                                    <span>1,25€ au kilo</span>
                                </figure>
                            </article>   
                        </figure>

                                <figure class="container-product">
                                    <figure class="container-image">
                                        <img src="../public/assets/img/mushrooms-7191815_1280.jpg" alt="Champignons de Paris " class="img-reponsive">
                                    </figure>
                                    <article  class="container-text">
                                        <figure class="category">
                                            <span>Champignons de Paris</span>
                                        </figure>
                                        <figure class="container-description">
                                            <!-- <p>main with</p> -->
                                        </figure>
                                        <figure class="price">
                                            <span>3,10€ au kilo</span>
                                        </figure>
                                    </article> 
                                </figure>
                </section>

   <!-- footer -->

<figure  class="footer-basic">
    <footer>
        <div class="social">
          <a href="https://www.instagram.com/"  target="_blank"><img src="../public/assets/img/instagram.png" alt="" width="55%">
          <i class="icon ion-social-instagram"></i></a>
  
          <a href="https://www.facebook.com/" target="_blank"><img src="../public/assets/img/facebook.png" alt="" width="55%">
            <i class="icon ion-social-snapchat"></i> </a>
            
            <a href="https://twitter.com/" target="_blank"><img src="../public/assets/img/twitter.png" alt="" width="55%">
              <i class="icon ion-social-twitter"></i></a>
  
              <a href="https://www.youtube.com/" target="_blank"><img src="../public/assets/img/youtube.png" alt="" width="55%" >
                <i class="icon ion-social-facebook"></i>
              </a></div>
  
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Produits</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Company Name © 2024</p>
    </footer>
</body>
</html>
